body {

}

h1 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 50px;
	text-align: center;
	padding: 30px;
	color: black;
*/	padding-bottom: 10px;
}

h2 {
	font-family: 'Passion One', cursive;
	font-size: 40px;
	padding: 15px;
	padding-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
*/}

p {
	font-family: 'Varela', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
*/}

.container {
	display: inline-block;
	text-align: center;
	margin-left: 8%;
	padding: 10px;
}

.red-crystal {
	float: left;
}

.blue-crystal {
	float: left;
}

.green-crystal {
	float: left;
}

.orange-crystal {
	float: left;
}

.countstyle {
	font-family: 'Sigmar One', cursive;
	float: right;
	text-align: center;
	margin-right: 8%;
}

#targetnum {
	font-size: 45px;
	padding: 10px;
}

#usernum {
	text-align: left;
	font-size: 40px;
}

#wincount {
	font-size: 25px;
	padding: 8px;
}

#losscount {
	font-size: 25px;
	padding: 8px;
}